<html>

<head>
  <title>Socket.IO chat</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
</head>

<body>
  <ul id="messages"></ul>
  <form action="">
    <input id="m" autocomplete="off" /><button>Send</button>
  </form>
</body>

<script src="/socket.io/socket.io.js"></script>
<script src="/javascript/vendor/jquery-1.11.1.js"></script>
<script src="/javascript/bundle.js"></script>

</html>